{% include 'incl/header.twig' %}

<body>
    <div class="wrapper">
        <div class="parallax-container">
            <div></div>
            <div></div>
        </div>

        {% include 'incl/nav.twig' %}

        <div class="main" role="main">
            {% if current_page.id == "technology/index" %}
            <div style="text-align: center;">
                {{ content }}
            </div>
            <div class="landingpage">

                {% for page in pages("technology") %}
                <a href="{{ page.url }}">
                    <div class="box">
                        <div class="box-fill">
                            <h2>{{ page.title }}</h2>
                        </div>
                        <div class="box-fill">
                            <p>{{ page.description }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <div class="wiki">
                <aside class="wiki-aside">
                    <ul>
                        {% for page in pages("technology") %}
                        <li>
                            <a href="{{ page.url }}" {% if page.id==current_page.id %} class="active" {% endif %}>
                                {{ page.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </aside>
                <section class="wiki-section">
                    <div>
                        {{ content }}
                    </div>
                </section>
            </div>
            {% endif %}
        </div>
        <div class="diamond-backdrop"></div>

        {% include 'incl/footer.twig' %}
    </div>
</body>

</html>